body {
  background: cornsilk;
  font-family: sans-serif;
}
.lane {
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  min-width: 10em;
  display: inline-block;
  vertical-align: top;
  background-color: #efefef;
}
.lane-header {
  padding: 1em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  overflow: auto;
  color: #efefef;
  background-color: #333;
}
.lane-name {
  float: left;
}
.lane-add-note {
  float: right;
  margin-left: 0.5em;
}
